In [1]:
import pandas as pd
import numpy as np

In [2]:
movie=pd.read_csv('movies.csv')

In [3]:
movie.shape

(62423, 3)

In [4]:
movie['title']

0                                         Toy Story (1995)
1                                           Jumanji (1995)
2                                  Grumpier Old Men (1995)
3                                 Waiting to Exhale (1995)
4                       Father of the Bride Part II (1995)
5                                              Heat (1995)
6                                           Sabrina (1995)
7                                      Tom and Huck (1995)
8                                      Sudden Death (1995)
9                                         GoldenEye (1995)
10                          American President, The (1995)
11                      Dracula: Dead and Loving It (1995)
12                                            Balto (1995)
13                                            Nixon (1995)
14                                 Cutthroat Island (1995)
15                                           Casino (1995)
16                            Sense and Sensibility (1995)
17                                       Four Rooms (1995)
18                   Ace Ventura: When Nature Calls (1995)
19                                      Money Train (1995)
20                                       Get Shorty (1995)
21                                          Copycat (1995)
22                                        Assassins (1995)
23                                           Powder (1995)
24                                Leaving Las Vegas (1995)
25                                          Othello (1995)
26                                     Now and Then (1995)
27                                       Persuasion (1995)
28       City of Lost Children, The (Cité des enfants p...
29       Shanghai Triad (Yao a yao yao dao waipo qiao) ...
                               ...
62393    Sousse: Marché aux charbons (avec chameaux) (1...
62394                                     Snapshots (2002)
62395                                  The Arbalest (2016)
62396                       Monkey Love Experiments (2014)
62397                              Call of Cuteness (2017)
62398                          The Mistletoe Secret (2019)
62399                  An Impossible Balancing Feat (1902)
62400                          Hua yang de nian hua (2001)
62401                        Tsar Ivan the Terrible (1991)
62402                               Up to the World (2014)
62403          Adrenalin: The BMW Touring Car Story (2014)
62404    Square Roots: The Story of SpongeBob SquarePan...
62405                             Destination Titan (2011)
62406                       Last Days of the Arctic (2011)
62407                        The Riot and the Dance (2018)
62408                           Jane B. by Agnès V. (1988)
62409          The Reward's Yours... The Man's Mine (1969)
62410                               Rimsky-Korsakov (1953)
62411             And They Lived Happily Ever After (1976)
62412                                  The Painting (2019)
62413                                       Liberté (2019)
62414                          The Carpet of Horror (1962)
62415                               Mao Zedong 1949 (2019)
62416                                  Happy Flight (2008)
62417                           Santosh Subramaniam (2008)
62418                                            We (2018)
62419                            Window of the Soul (2001)
62420                                     Bad Poems (2018)
62421                                  A Girl Thing (2001)
62422                       Women of Devil's Island (1962)
Name: title, Length: 62423, dtype: object

In [5]:
rating=pd.read_csv('ratings.csv')

In [6]:
rating.shape

(25000095, 4)

In [8]:
rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
x=rating['userId'].value_counts() >200

In [10]:
x.shape

(162541,)

In [11]:
x[x].shape

(32848,)

In [12]:
y=x[x].index

In [13]:
y

Int64Index([ 72315,  80974, 137293,  33844,  20055, 109731,  92046,  49403,
             30879, 115102,
            ...
            128836,  98458,  98173,  61518,  28667,   5829, 128860, 120616,
            123799, 138237],
           dtype='int64', length=32848)

In [14]:
rating=rating[rating['userId'].isin(y)]

In [15]:
rating.head()

     userId  movieId  rating   timestamp
254       3        1     4.0  1439472215
255       3       29     4.5  1484754967
256       3       32     4.5  1439474635
257       3       50     5.0  1439474391
258       3      111     4.0  1484753849

In [16]:
rating.shape

(16063558, 4)

In [17]:
final=rating.merge(movie , on='movieId')

In [18]:
final.head()

,userId,movieId,rating,timestamp,title,genres
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

In [19]:
final.shape

(16063558, 6)

In [21]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16063558 entries, 0 to 16063557
Data columns (total 6 columns):
userId       int64
movieId      int64
rating       float64
timestamp    int64
title        object
genres       object
dtypes: float64(1), int64(3), object(2)
memory usage: 857.9+ MB

In [22]:
final['rating'].value_counts()

4.0    4110628
3.0    3175304
3.5    2372592
5.0    1756194
4.5    1356241
2.0    1167407
2.5    1008009
1.0     521845
1.5     312127
0.5     283211
Name: rating, dtype: int64

In [23]:
number_rating=final.groupby('title')['rating'].count().reset_index()

In [24]:
number_rating.head()

                                               title  rating
0  "BLOW THE NIGHT!" Let's Spend the Night Togeth...       1
1                   "Great Performances" Cats (1998)      70
2                         #1 Cheerleader Camp (2010)       8
3                                   #Captured (2017)       2
4                            #Female Pleasure (2018)       2

In [25]:
number_rating.rename(columns={'rating':'number_of_rating'},inplace=True)

In [26]:
number_rating.head()

                                               title  number_of_rating
0  "BLOW THE NIGHT!" Let's Spend the Night Togeth...                 1
1                   "Great Performances" Cats (1998)                70
2                         #1 Cheerleader Camp (2010)                 8
3                                   #Captured (2017)                 2
4                            #Female Pleasure (2018)                 2

In [27]:
number_rating.shape

(58340, 2)

In [28]:
final_rating=final.merge(number_rating, on='title')

In [29]:
final_rating.head()

,userId,movieId,rating,timestamp,title,genres,number_of_rating
0,3,1,4.0,1439472215,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
1,4,1,3.0,1573944252,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
2,12,1,4.0,1167582601,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
3,13,1,4.0,1265223970,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843
4,43,1,4.0,1170491388,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,22843

In [30]:
final_rating.shape

(16063558, 7)

In [31]:
final_rating=final_rating[final_rating['number_of_rating']>=20000]

In [32]:
final_rating.shape

(727984, 7)

In [34]:
final_rating.drop_duplicates(['userId','title'],inplace=True)

In [35]:
final_rating.shape

(727984, 7)

In [36]:
movie_pivot=final_rating.pivot_table(columns='userId',index='title',values='rating')

In [37]:
movie_pivot.head()

userId,3,4,12,13,19,23,31,38,43,57,...,162507,162508,162512,162516,162519,162521,162524,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
American Beauty (1999),5.0,NaN,4.0,4.0,NaN,5.0,3.0,5.0,5.0,5.0,...,NaN,NaN,4.0,5.0,5.0,NaN,2.0,NaN,4.0,4.0
Back to the Future (1985),3.5,2.5,4.0,4.5,4.0,5.0,3.5,NaN,4.0,4.5,...,4.0,NaN,3.0,4.0,5.0,3.5,4.0,5.0,4.5,4.0
Braveheart (1995),NaN,NaN,NaN,4.5,3.0,NaN,1.5,3.0,4.5,NaN,...,4.0,NaN,3.5,3.5,4.0,3.0,5.0,4.0,4.0,3.0
Fargo (1996),NaN,NaN,5.0,NaN,NaN,4.0,3.5,NaN,3.0,4.5,...,4.0,0.5,NaN,4.5,3.0,NaN,NaN,5.0,NaN,4.0
Fight Club (1999),5.0,NaN,3.0,5.0,3.5,NaN,2.0,4.5,5.0,4.5,...,NaN,NaN,4.0,5.0,5.0,4.5,NaN,NaN,3.5,5.0

In [38]:
movie_pivot.fillna(0,inplace=True)

In [39]:
movie_pivot.head()

userId,3,4,12,13,19,23,31,38,43,57,...,162507,162508,162512,162516,162519,162521,162524,162529,162533,162534
title,,,,,,,,,,,,,,,,,,,,,
American Beauty (1999),5.0,0.0,4.0,4.0,0.0,5.0,3.0,5.0,5.0,5.0,...,0.0,0.0,4.0,5.0,5.0,0.0,2.0,0.0,4.0,4.0
Back to the Future (1985),3.5,2.5,4.0,4.5,4.0,5.0,3.5,0.0,4.0,4.5,...,4.0,0.0,3.0,4.0,5.0,3.5,4.0,5.0,4.5,4.0
Braveheart (1995),0.0,0.0,0.0,4.5,3.0,0.0,1.5,3.0,4.5,0.0,...,4.0,0.0,3.5,3.5,4.0,3.0,5.0,4.0,4.0,3.0
Fargo (1996),0.0,0.0,5.0,0.0,0.0,4.0,3.5,0.0,3.0,4.5,...,4.0,0.5,0.0,4.5,3.0,0.0,0.0,5.0,0.0,4.0
Fight Club (1999),5.0,0.0,3.0,5.0,3.5,0.0,2.0,4.5,5.0,4.5,...,0.0,0.0,4.0,5.0,5.0,4.5,0.0,0.0,3.5,5.0

In [40]:
#convert it into sparse matrix

from scipy.sparse import csr_matrix
movie_sparse=csr_matrix(movie_pivot)

In [41]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [44]:
model.fit(movie_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [46]:
distance,suggestions=model.kneighbors(movie_pivot.iloc[25,:].values.reshape(1,-1),n_neighbors=10)

In [47]:
distance

array([[  0.        , 241.95867416, 277.14526877, 360.04826065,
        397.25275329, 405.35694147, 405.49075205, 412.19594855,
        416.12377966, 416.12377966]])

In [48]:
suggestions

array([[25, 26, 27, 17,  1, 10, 11, 28, 14, 29]], dtype=int64)

In [49]:
for i in range(len(suggestions)):
    print(movie_pivot.index[suggestions[i]])

Index(['Star Wars: Episode IV - A New Hope (1977)',
       'Star Wars: Episode V - The Empire Strikes Back (1980)',
       'Star Wars: Episode VI - Return of the Jedi (1983)',
       'Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)',
       'Back to the Future (1985)',
       'Indiana Jones and the Last Crusade (1989)', 'Jurassic Park (1993)',
       'Terminator 2: Judgment Day (1991)', 'Matrix, The (1999)',
       'Terminator, The (1984)'],
      dtype='object', name='title')

In [119]:
np.where(movie_pivot.index=="Star Wars: Episode IV - A New Hope (1977)")[0][0]

25